@CHARSET "UTF-8";

body {
	background-image: url("/delivery/resources/images/back2.jpg");
}

.container-fluid {
	background-color: #860606;
}

ul li a, a.navbar-brand, thead tr {
	color: white !important;
}

div.page-header, div#conteudo {
	color: #860606 !important;
}

div.page-header {
	border-bottom: 1px solid #860606;
}

table {
	background-color: #860606;
	border: 2px solid white;
}

tr {
	color: black;
}

select, .dataTables_filter label input {
	color: black;
}

.cadastrar {
	float: right;
	margin-left: 15px;
}

h3 {
	text-align: center;
}

form#cliente, form#estabelecimento {
	width: 500px;
	margin: 0 auto;
}